* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --white: white;
  --color-primary: #191d2b;
  --color-secondary: #C53678;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  --box-shadow-2: 0 3px 15px rgba(39, 13, 39, 0.3);
  --transition-all: all 0.4s ease-in-out;
}

/*theme-change*/
.theme-change {
  --white: white;
  --color-primary: #FFFFFF;
  --color-secondary: #6ACFC7;
  --color-white: #191d2b;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: ##131314;
  --color-grey-2: #0e0f10;
  --color-grey-3: #6c7983;
  --color-grey-4: #a7b2bb;
  --color-grey-5: #dedfe0;
  --color-grey-6: #e7ebf1;
  --color-white-icon: #FFFFFF;
  --box-shadow-2: 0 3px 15px rgba(25, 99, 95, 0.3);
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-size: inherit;
}

header {
  min-height: 100vh;
  width: 100%;
  color: var(--color-white);
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 18rem;
}

.section {
  transition: all 1.4s ease-in-out;
  transform: translateY(-100%) scaleY(0);
  background-color: var(--color-primary);
}

.sec-1 {
  display: none;
}

.sec-2 {
  display: none;
  padding: 3rem 11rem !important;
}

.sec-3 {
  display: none;
}

.sec-4 {
  display: none;
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}

@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controlls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  gap: 0.7rem;
}

.controlls .control {
  cursor: pointer;
  background-color: var(--color-grey-4);
  padding: 1rem;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  position: relative;
}

.controlls .control i {
  color: var(--color-grey-2);
  pointer-events: none;
  font-size: 1.2rem;
}

.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}

.controlls .active-btn i {
  color: var(--color-white) !important;
}

.theme-btn {
  position: fixed;
  top: 5%;
  right: 3%;
  background-color: var(--color-grey-4);
  box-shadow: var(--box-shadow-1);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.05s linear;
}

.theme-btn i {
  font-size: 1.5rem;
  color: var(--color-grey-2);
}

.theme-btn:active {
  transition: all 0.005s linear;
  transform: translateY(-3px);
}

.control-1::before {
  content: "Home";
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-weight: 600;
  color: var(--white);
  padding: 5px 15px 6px 7px;
  background-color: var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 14%;
  left: -132%;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.control-1:hover {
  background-color: var(--color-grey-3);
}

.control-1:hover::before {
  display: block;
  width: 4.5rem;
  height: 1.65rem;
  transform: translateX(0%) scaleX(1);
  animation: leftGrow 0.5s ease-in-out;
  transition: all 0.4s ease-out;
}

@keyframes leftGrow {
  0% {
    transform: scaleX(0);
    transform-origin: center right;
  }

  100% {
    transform: scaleX(1);
    transform-origin: center right;
  }
}

.control-2::before {
  content: "About";
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-weight: 600;
  color: var(--white);
  padding: 5px 15px 6px 7px;
  background-color: var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 14%;
  left: -132%;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.control-2:hover {
  background-color: var(--color-grey-3);
}

.control-2:hover::before {
  display: block;
  width: 4.5rem;
  height: 1.65rem;
  transform: translateX(0%) scaleX(1);
  animation: leftGrow 0.5s ease-in-out;
  transition: all 0.4s ease-out;
}

@keyframes leftGrow {
  0% {
    transform: scaleX(0);
    transform-origin: center right;
  }

  100% {
    transform: scaleX(1);
    transform-origin: center right;
  }
}

.control-3::before {
  content: "Projects";
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-weight: 600;
  color: var(--white);
  padding: 6px 5px 6px 7px;
  background-color: var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 14%;
  left: -150%;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.control-3:hover {
  background-color: var(--color-grey-3);
}

.control-3:hover::before {
  display: block;
  width: 6.5rem;
  height: 1.75rem;
  transform: translateX(0%) scaleX(1);
  animation: leftGrow 0.5s ease-in-out;
  transition: all 0.4s ease-out;
}

@keyframes leftGrow {
  0% {
    transform: scaleX(0);
    transform-origin: center right;
  }

  100% {
    transform: scaleX(1);
    transform-origin: center right;
  }
}

.control-4::before {
  content: "Contact";
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-weight: 600;
  color: var(--white);
  padding: 9px 15px 6px 7px;
  background-color: var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 14%;
  left: -152%;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.control-4:hover {
  background-color: var(--color-grey-3);
}

.control-4:hover::before {
  display: block;
  width: 4.5rem;
  height: 1.65rem;
  transform: translateX(0%) scaleX(1);
  animation: leftGrow 0.5s ease-in-out;
  transition: all 0.4s ease-out;
}

@keyframes leftGrow {
  0% {
    transform: scaleX(0);
    transform-origin: center right;
  }

  100% {
    transform: scaleX(1);
    transform-origin: center right;
  }
}

/*header sectin*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}

.header-content .left-header .left-shape {
  transition: var(--transition-all);
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.header-content .left-header .left-img-div {
  background-color: var(--color-black);
  width: 65%;
  height: 80%;
  margin-left: 3rem;
  border-radius: var(--br-sm-2);
}

.header-content .left-header .left-img-div img {
  transition: var(--transition-all);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: var(--transition-all);
  border-radius: var(--br-sm-2);
  filter: grayscale(100%);
}

.header-content .left-header .left-img-div img:hover {
  filter: grayscale(0);
}

.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
  margin-left: -3rem;
}

.header-content .right-header .name {
  font-size: 2.2rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}

.header-content .right-header .description {
  margin: 1rem 0;
  line-height: 2rem;
}

/*about section*/
.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.about-me .left-about {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.about-me .left-about h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-me .left-about p {
  color: var(--color-grey-1);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.about-me .right-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-left: 1rem;
}

.about-me .right-about .abt-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 8px;
  padding: 1.3rem 2rem;
  color: var(--color-grey-1);
  box-shadow: var(--box-shadow-2);
}

.about-me .right-about .abt-item .big-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.about-me .right-about .abt-item .small-text {
  margin-top: -13px;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
}

.about-me .right-about .abt-item .small-text::before {
  content: "";
  margin-top: 1rem;
  margin-right: 8px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
  display: block;
}

.about-me .right-about .abt-item:hover {
  transition: var(--transition-all);
  transform: translateY(-2%);
  border: 1px solid var(--color-secondary);
}

.about-skills {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.about-skills .stat-title h2 {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.about-skills .stat-title h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: var(--color-grey-5);
}

.about-skills .skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-skills .skills-container .skill .skill-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.about-skills .skills-container .skill .skill-progress {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar {
  width: 100%;
  height: 7px;
  background-color: var(--color-grey-4);
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar .inner-progress-bar {
  height: 7px;
  background-color: var(--color-secondary);
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar #html {
  width: 90%;
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar #css {
  width: 80%;
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar #js {
  width: 85%;
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar #react {
  width: 80%;
}

.about-skills .skills-container .skill .skill-progress .outer-progress-bar #cpp {
  width: 80%;
}

.about-timeline {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.about-timeline .timeline-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-timeline .timeline-container .timeline-up {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -1.5rem;
}

.about-timeline .timeline-container .timeline-up .timeline-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white-icon);
}

.about-timeline .timeline-container .timeline-up .timeline-duration {
  background-color: var(--color-grey-5);
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--color-grey-1);
  padding: 3px 8px;
}

.about-timeline .timeline-container .timeline-inner {
  padding: 0rem 0 0 3rem;
  border-left: 1px solid var(--color-grey-5);
}

.about-timeline .timeline-container .timeline-inner h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.about-timeline .timeline-container .timeline-inner h4 span {
  color: var(--color-grey-1);
  font-size: 1rem;
}

.about-timeline .timeline-container .timeline-inner p {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: var(--color-grey-1);
}

.stat-title h2 {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.stat-title h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: var(--color-grey-5);
}

/*projects section*/
.projects p {
  text-align: center;
  padding: 1rem 0;
  color: var(--color-grey-1);
}

.projects .projects-container {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-left: -4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 60vw;
}

.projects .projects-container .project {
  position: relative;
}

.projects .projects-container .project .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid var(--color-grey-5);
}

.projects .projects-container .project .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition-all);
}

.projects .projects-container .project .image-hover h3 {
  width: 100%;
  text-align: center;
}

.projects .projects-container .project .image-hover .project-icons {
  padding-top: 1.4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.projects .projects-container .project .image-hover .project-icons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.projects .projects-container .project .image-hover .project-icons .icon:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

.projects .projects-container .project .image-hover .project-icons .visit {
  font-size: 0.8rem;
  font-weight: 600;
}

.projects .projects-container .project:hover .image-hover {
  opacity: 100%;
  transform: scale(1);
}

/*contact section*/
.contact-container .contact-intro {
  padding-top: 2rem;
  text-align: center;
  color: var(--color-grey-1);
}

.contact-container .contact-content-container {
  padding: 3rem 0;
  display: flex;
  margin-left: -7rem;
  gap: 2rem;
  width: 72vw;
}

.contact-container .contact-left {
  flex: 2;
}

.contact-container .contact-left h2 {
  text-transform: uppercase;
  padding-bottom: 0.3rem;
}

.contact-container .contact-left .contact-left-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.contact-container .contact-left .contact-left-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}

.contact-container .contact-left .bottom-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container .contact-left .bottom-btns .social-icons {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-container .contact-left .bottom-btns .social-icons i {
  background-color: var(--color-grey-5);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.contact-container .contact-left .bottom-btns .social-icons i:hover {
  color: var(--color-grey-5);
  background-color: var(--color-secondary);
  transition: var(--transition-all);
}

.contact-container .contact-left .bottom-btns .cv-btn {
  margin-top: 1rem;
}

.contact-container .contact-right {
  flex: 2;
}

.contact-container .contact-right .contact-right-form {
  width: 100%;
  padding-top: 0rem;
}

.contact-container .contact-right .contact-right-form .first {
  gap: 1rem;
  display: flex;
}

.contact-container .contact-right .contact-right-form .first :first-child {
  width: 35%;
}

.contact-container .contact-right .contact-right-form .first :last-child {
  width: 65%;
}

.contact-container .contact-right .contact-right-form .input-control {
  padding-top: 1rem;
}

.contact-container .contact-right .contact-right-form input {
  color: var(--color-white);
  font-size: 1rem;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 1.3rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
}

.contact-container .contact-right .contact-right-form textarea {
  background-color: var(--color-grey-5);
  color: var(--color-white);
  width: 100%;
  border-radius: 1.3rem;
  padding: 0.6rem 1rem;
  font-size: inherit;
  outline: none;
  border: none;
}

/*independent components*/
.main-btn {
  border: 1px solid var(--color-secondary);
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 1rem;
  font-weight: 500;
}

.main-btn .download-icon {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  transform: translateX(0);
  transition: all 0.4s ease-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.btn-container {
  align-self: flex-start;
}

.main-title h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.main-title h2 .abt-me {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: var(--color-grey-6);
  font-size: 4rem;
  font-weight: 800;
  width: 100%;
}

.submit-btn {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.submit-btn button {
  align-self: flex-end;
  padding: 0.4rem 0.7rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-white);
}

.submit-btn button:hover {
  background-color: var(--color-secondary);
  transition: var(--transition-all);
  cursor: pointer;
}

:root {
  --color-secondary: #C53678;
}

/*theme-change*/
.theme-change {
  --color-secondary: #6ACFC7;
}

@media screen and (max-width: 600px) {

  /*home page*/
  .header-content {
    grid-template-columns: 1fr;
    padding: 4rem 0 2.5rem 0;
  }

  .header-content .left-header .left-shape {
    display: none;
  }

  .header-content .right-header {
    margin: 0 auto;
    grid-row: 1;
    width: 80%;
  }

  .header-content .left-header .left-img-div {
    margin: 0 auto;
    height: 80%;
    width: 80%;
  }

  .controlls {
    flex-direction: row;
    position: fixed;
    top: 91%;
    right: 50%;
    transform: translateX(50%);
  }

  .theme-btn {
    top: 3%;
    width: 3rem;
    height: 3rem;
  }

  .theme-btn i {
    font-size: 1.4rem;
  }

  .header-content .right-header .name {
    font-size: 1.5rem;
  }

  .header-content .right-header .description {
    font-size: 1rem;
  }

  .header-content .right-header a {
    font-size: 1rem !important;
  }

  .control-1:hover::before {
    display: none;
  }

  .control-2:hover::before {
    display: none;
  }

  .control-3:hover::before {
    display: none;
  }

  .control-4:hover::before {
    display: none;
  }
}

@media screen and ((min-width: 601px) and (max-width: 820px)) {

  /*home page*/
  .header-content {
    grid-template-columns: 1fr;
    padding: 4rem 0 1rem 0;
  }

  .header-content .left-header .left-shape {
    display: none;
  }

  .header-content .right-header {
    margin: 0 auto;
    grid-row: 1;
    width: 80%;
  }

  .header-content .left-header .left-img-div {
    margin: 0 auto;
    height: 80%;
    width: 80%;
  }

  .controlls {
    flex-direction: row;
    position: fixed;
    top: 90%;
    right: 50%;
    transform: translateX(50%);
  }

  .theme-btn {
    top: 3%;
    width: 3.3rem;
    height: 3.3rem;
  }

  .theme-btn i {
    font-size: 1.6rem;
  }

  .header-content .right-header .name {
    font-size: 2rem;
  }

  .header-content .right-header .description {
    font-size: 1.2rem;
  }

  .header-content .right-header a {
    font-size: 1.2rem !important;
  }

  .control-1:hover::before {
    display: none;
  }

  .control-2:hover::before {
    display: none;
  }

  .control-3:hover::before {
    display: none;
  }

  .control-5:hover::before {
    display: none;
  }

  /*contact section*/
  .contact-container .contact-left .contact-left-item {
    flex-direction: row !important;
  }
}

@media screen and (max-width: 820px) {

  /*bout section*/
  .about-me {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .about-me .left-about {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .about-me .right-about {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    padding-top: 1.5rem;
  }

  .about-skills {
    padding-top: 0;
    padding-bottom: 0rem;
  }

  .about-skills .skills-container {
    grid-template-columns: 1fr;
    grid-gap: 1.3rem;
  }

  .about-skills .stat-title h2 {
    padding: 2rem 0;
  }

  .about-timeline .timeline-container {
    padding-top: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .sec-2 {
    padding: 4rem 2rem !important;
  }

  .about-timeline .timeline-container {
    padding-left: 1rem;
  }

  /*projects section*/
  .projects .projects-container {
    padding-bottom: 6rem;
    grid-template-columns: 1fr;
    margin: 0 auto 0;
    grid-gap: 1rem;
    width: 75vw;
  }

  .sec-3 {
    padding: 4rem 1rem;
  }

  .main-title h2 {
    font-size: 2.5rem;
  }

  .main-title h2 .bg-text {
    font-size: 3rem;
  }

  /*contact section*/
  .sec-4 {
    padding: 4rem 1rem;
  }

  .contact-container {
    padding-bottom: 2rem;
  }

  .contact-container .contact-content-container {
    flex-direction: column;
    margin-left: 0rem;
    width: 100%;
  }

  .contact-container .contact-left h2 {
    text-align: center;
  }

  .contact-container .contact-left .contact-left-item {
    flex-direction: column;
  }

  .contact-container .contact-left .bottom-btns {
    flex-direction: column;
  }

  .contact-left-item .icon {
    color: var(--color-secondary);
  }

  .contact-right-form .first :first-child {
    width: 46% !important;
  }
}

@media screen and ((min-width: 821px) and (max-width: 1145px)) {
  .header-content {
    grid-template-columns: 1fr 1.5fr;
  }

  .header-content .left-header .left-img-div {
    width: 73%;
    height: 72%;
    margin-left: 2rem;
  }

  .header-content .left-header .left-img-div img {
    border-radius: 14px;
  }

  .header-content .right-header {
    margin-right: 5rem;
    margin-left: -1rem;
  }

  /*about section*/
  .sec-2 {
    padding-left: 3rem !important;
    padding-right: 7rem !important;
  }

  /*projects section*/
  .sec-3 {
    padding: 3rem 5rem;
  }

  .projects .projects-container {
    margin: 0 auto;
  }

  /*contact section*/
  .sec-4 {
    padding: 3rem 7rem 3rem 2.5rem;
  }

  .contact-container .contact-content-container {
    padding: 3rem 0;
    margin-left: 0rem;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */